<div flex>
    <div>
        <h1>CONDITION BUILDER DIRECTIVE</h1>
       
    </div>
    <div flex layout="row" layout-align="start center">
        <md-button 
        ng-click="addCondition()" 
        class="md-primary md-raised">
            Add Condition
        </md-button>
    </div>
<!-- =============================================================== -->
<!-- Creates a new row when "Add Condition" is cliked -->
    <div class="group-conditions">
        <div ng-repeat="rule in rules" class="condition">
            <div layout="row">
<!-- Button that removes condition -->
                <md-button 
                class="md-icon-button" 
                style="margin-top:18px;"
                ng-click="removeCondition($index)">
                    <md-icon class="material-icons">remove_circle_outline</md-icon>
                </md-button>
<!-- Input for fields (columns) in which data is searched -->
                <md-input-container flex="20">
                    <label>Field</label>
                    <md-select 
                    ng-model="rules[$index].field" 
                    placeholder="Choose property"
                    ng-change="setInputTypeForFieldType(rules.indexOf(rules[$index]), rules[$index].field)">
                        <md-option 
                        ng-repeat="a in attributes" 
                        ng-value="a['admin_label']">
                            {{a['admin_label']}}
                        </md-option>
                    </md-select>
                </md-input-container>
<!-- HERE GOES DIRECTIVE FOR OPERATOR AND INPUT FIELD -->
<!-- Select condition type as SQL condition -->
                <md-input-container flex="10">
                    <label>Condition</label>
                    <md-select 
                    ng-model="rules[$index].condition" 
                    placeholder="Choose property">
                        <md-option 
                        ng-repeat="c in getConditionsForFieldType(rules[$index].field)" 
                        ng-value="c.label">
                            {{c.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
<!-- What are you looking for. This field should be dynamic 
        and change based on what type of data you want to search -->
                <md-input-container ng-if="rules[$index].inputType=='text'">
                    <label>Text value</label>
                    <input                     
                    ng-model="rules[$index].value" 
                    type="text">
                </md-input-container>

                <md-input-container ng-if="rules[$index].inputType=='number'">
                    <label>Number value</label>
                    <input 
                    ng-model="rules[$index].value" 
                    type="number">
                </md-input-container>

                <md-input-container  ng-if="rules[$index].inputType=='date'">
                    <label>Select date</label>
                    <input 
                    ng-model="rules[$index].value" 
                    type="date">
                </md-input-container>

            </div>
        </div>
    </div>

     <h4>{{qry}}</h4>

</div>
