<div flex>
  
  <div flex layout="row" layout-align="start center">
    <md-input-container>
      <label>Property</label>
      <md-select ng-model="group.operator" placeholder="Choose property">
        <md-option ng-repeat="op in operators" ng-value="op.name">
          {{op.name}}
        </md-option>
      </md-select>
    </md-input-container>
  
  <!-- Only conditions can be added -->
    <md-button 
      ng-click="addCondition()" 
      class="md-primary md-raised">
      Add Condition
    </md-button>
  </div>
  
  <!-- =============================================================== -->
  <!-- Creates a new row when "Add Condition" is cliked -->
  <div class="group-conditions">
    <div ng-repeat="rule in group.rules | orderBy:'index'" class="condition">
      <div ng-switch="rule.hasOwnProperty('group')">
        <div ng-switch-when="true">
          <query-builder flex group="rule.group"></query-builder>
        </div>
        <div ng-switch-default="ng-switch-default">
          <div layout="row">
            
            <!-- Button that removes condition -->
            <md-button 
              class="md-icon-button" 
              style="margin-top:18px;"
              ng-click="removeCondition($index)">
              <md-icon class="material-icons">remove_circle_outline</md-icon>
            </md-button>
  
            <!-- Input for fields (columns) in which data is searched -->
            <md-input-container flex="20">
              <label>Field</label>
              <md-select ng-model="rule.field" placeholder="Choose property">
                <md-option ng-repeat="f in fields" ng-value="f.name">
                  {{f.name}}
                </md-option>
              </md-select>
            </md-input-container>
    
            <!-- Select condition type as SQL condition -->
            <md-input-container flex="10">
              <label>Condition</label>
              <md-select ng-model="rule.condition" placeholder="Choose property">
                <md-option ng-repeat="c in conditions" ng-value="c.name">
                  {{c.name}}
                </md-option>
              </md-select>
            </md-input-container>
            
            <!-- What are you looking for. This field should be dynamic 
            and change based on what type of data you want to search -->
            <md-input-container>
              <label>Value</label>
              <input ng-model="rule.data">
            </md-input-container>
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
